{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block meta_tags %}
    {% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'restaurant/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'restaurant/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'restaurant/css/animsition.min.css' %}" rel="stylesheet">
    <link href="{% static 'restaurant/css/animate.css' %}" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
    <!-- Custom styles for this template -->
    <link href="{% static 'restaurant/css/style.css' %}" rel="stylesheet"> </head>

<body {% block body_class %}{% endblock %}>
    <div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <!--header starts-->
        <header id="header" class="header-scroll top-header headrom">
            <!-- .navbar -->
            <nav class="navbar navbar-dark">
                <div class="container">
                    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">&#9776;</button>
                    <a class="navbar-brand" href="index.html"> <img class="img-rounded" src="images/food-picky-logo.png" alt=""> </a>
                    <div class="collapse navbar-toggleable-md  float-lg-right" id="mainNavbarCollapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"> <a class="nav-link active" href="{% url 'restaurant:index' %}">Home <span class="sr-only">(current)</span></a> </li>
                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'restaurant:restaurant_list' %}" role="button" aria-haspopup="true" aria-expanded="false">Restaurants</a>
                                <div class="dropdown-menu"> <a class="dropdown-item" href="{% url 'restaurant:restaurant_add' %}">Add Restaurant</a> <a class="dropdown-item" href="{% url 'restaurant:restaurant_list' %}">Search Restaurant</a></div>
                            </li>
                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'restaurant:register' %}" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'restaurant:login' %}">Login</a>
                                    <a class="dropdown-item" href="{% url 'restaurant:register' %}">Register</a>
                                    <a class="dropdown-item" href="{% url 'restaurant:logout' %}">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- /.navbar -->
        </header>
        {% block content %}{% endblock %}
        <!-- start: FOOTER -->
        <footer class="footer">
            <div class="container">
                <p class="text-center">Copyright 2017. Luncheon</p>
            </div>
        </footer>
        <!-- end:Footer -->
    </div>
    <!--/end:Site wrapper -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="{% static 'restaurant/js/jquery.min.js' %}"></script>
    <script src="{% static 'restaurant/js/tether.min.js' %}"></script>
    <script src="{% static 'restaurant/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'restaurant/js/animsition.min.js' %}"></script>
    <script src="{% static 'restaurant/js/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'restaurant/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'restaurant/js/headroom.js' %}"></script>
    <script src="{% static 'restaurant/js/foodpicky.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>

</html>