{% extends 'restaurant/base.html' %}
{% load static %}
{% block meta_tags %}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Luncheon - Helping you discover great food</title>
{% endblock %}
{% block stylesheet %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet" />
<style>
  .select2-container--bootstrap .select2-selection--single{
    height: 51px;
    font-size: 18px;
    padding: 10px 24px 6px 12px;
  }

</style>
{% endblock %}
{% block body_class %}class="home"{% endblock %}
{% block content %}
        <!-- banner part starts -->
        <section class="hero bg-image" data-image-src="{% static 'restaurant/images/index_banner.jpg' %}">
            <div class="hero-inner">
                <div class="container text-center hero-text font-white">
                    <h1>Find great restaurants and more </h1>
                    <h5 class="font-white space-xs">Find restaurants, specials, and coupons for free</h5>
                    <div class="banner-form">
                        <form class="form-inline" method="GET" action="{% url 'restaurant:restaurant_list' %}">
                                <div class="form-group">
                                <label class="sr-only" for="city">I would like to eat....</label>
                                <div class="form-group">
                                  <select name='city' id="id_city" class="form-control form-control-lg" style="width: 100%;">
                                  </select>
                                </div>
                                <label class="sr-only" for="query">I would like to eat....</label>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="id_query" name="query" placeholder="I would like to eat...."> </div>
                            </div>
                            <button type="submit" class="btn theme-btn btn-lg">Search food</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--end:Hero inner -->
        </section>
        <!-- banner part ends -->
        <!-- location match part starts -->
        <div class="location-match text-xs-center">
            <div class="container"> <span>356 restaurants matched your location: <span class="primary-color">New Delhi</span> </span>
            </div>
        </div>
        <!-- location match part ends -->
        <!-- Popular block starts -->
        <section class="popular">
            <div class="container">
                <div class="title text-xs-center m-b-30">
                    <h2>Popular This Month In Your City</h2>
                    <p class="lead">The easiest way to your favourite food</p>
                </div>
                <div class="row">
                    <!-- Each popular food item starts -->
                    {% for restaurant in restaurants %}
                    <div class="col-xs-12 col-sm-6 col-md-4 food-item">
                        <div class="food-item-wrap">
                        {% if restaurant.image %}
                            <div class="figure-wrap bg-image" data-image-src="{{ MEDIA_URL }}{{ restaurant.image }}">
                        {% else %}
                            <div class="figure-wrap bg-image" data-image-src="http://placehold.it/380x210">
                        {% endif %}
                                <div class="distance"><i class="fa fa-pin"></i>1240m</div>
                                <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                                <div class="review pull-right"><a href="#">{{ restaurant.review_set.count }} reviews</a> </div>
                            </div>
                            <div class="content">
                                <h5><a href="{% url 'restaurant:restaurant_detail' restaurant.id %}">{{ restaurant.name }}</a></h5>
                                <div class="product-name">{{ restaurant.available_food_categories }}</div>
                                <div class="price-btn-block"> <span class="price">{{ restaurant.average_rating }}/5</span> <a href="{% url 'restaurant:restaurant_detail' restaurant.id %}" class="btn theme-btn-dash pull-right">View Now</a> </div>
                            </div>
                            <!-- <div class="restaurant-block">
                                <div class="left">
                                    <a class="pull-left" href="profile.html"> <img src="http://placehold.it/50x46" alt="Restaurant logo" /> </a>
                                    <div class="pull-left right-text"> <a href="#">Chicken Restaurant</a> <span>68 5th Avenue New York</span> </div>
                                </div>
                                <div class="right-like-part pull-right"> <i class="fa fa-heart-o"></i> <span>48</span> </div>
                            </div> -->
                        </div>
                    </div>
                    {% empty %}
                      <p>There are no restaurants in the system.</p>
                    {% endfor %}
            </div>
        </section>
        <!-- Popular block ends -->
        <!-- Featured restaurants starts -->
        <section class="featured-restaurants">
            <div class="container">
                <!-- add restaurant starts -->
                <section class="add-restaurants">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 add-title">
                                <h4>Add Your Restaurant</h4> </div>
                            <div class="col-xs-12 col-sm-5 join-text">
                                <p>Join the thousands of other restaurants who benefit from having their menus on <a href="#"><strong> Luncheon</strong></a> </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 join-btn text-xs-right"><a href="{% url 'restaurant:restaurant_add' %}" class="btn theme-btn btn-lg">I‘m restaurant</a> </div>
                        </div>
                    </div>
                </section>
                <!-- add restaurant ends -->
            </div>
        </section>
        <!-- Featured restaurants ends -->
    <!--/end:Site wrapper -->
{% endblock %}
{% block javascript %}
 <!-- Select2 plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>

<script>
      $(function(){
        // Select2 Initialization
        $('#id_city').select2({
            theme: "bootstrap",
            ajax: {
            url: "{% url 'restaurant:city_api' %}",
            dataType: 'json',
            processResults: function (data) {
                var data = $.map(data, function (obj) {
                obj.text = obj.text || obj.name; // replace name with the property used for the text
                return obj;
            });
            // Tranforms the top-level key of the response object from 'items' to 'results'
            return {
                results: data
            };
        }
    },
    placeholder: 'Select your city',
    minimumInputLength: 3,
});
       
      });
    </script>
{% endblock %}