{% extends 'restaurant/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block meta_tags %}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Luncheon - Register</title>
{% endblock %}
{% block content %}
<div class="page-wrapper">
            <div class="breadcrumb">
                <div class="container">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Search results</a></li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
            <section class="contact-page inner-page">
                <div class="container">
                    <div class="row">
                        <!-- REGISTER -->
                        <div class="col-md-12">
                            <div class="widget row">
                                <div class="widget-body col-md-4 col-md-offset-4">
                                    {% if messages %}
                                        {% include 'restaurant/messages.html' %}
                                    {% endif %}
                                    <form id="login_form" method="post" action=".">{% csrf_token %}
                                        <div class="form-group{% if user_form.username.errors %} has-error{% endif %}">
                                            {% if next %}
                                            <input type="hidden" name="next" value="{{ next }}" />
                                            {% endif %}
                                            <label for="id_username">Username</label>
                                            <input type="text" name="username" class="form-control">
                                            {% for error in user_form.username.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group{% if user_formlogin_form.password.errors %} has-error{% endif %}">
                                            {% if next %}
                                            <input type="hidden" name="next" value="{{ next }}" />
                                            {% endif %}
                                            <label for="id_password">Password</label>
                                            <input type="password" name="password" class="form-control">
                                            {% for error in login_form.password.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <p>
                                            <button type="submit" value="submit" class="btn theme-btn">Submit</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <!-- end: Widget -->
                        </div>
                        <!-- /REGISTER -->
                    </div>
                </div>
            </section>
        </div>
        <!-- end:page wrapper -->
{% endblock %}