{% extends 'restaurant/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block meta_tags %}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Luncheon - Register</title>
{% endblock %}
{% block stylesheet %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="page-wrapper">
            <div class="breadcrumb">
                <div class="container">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Search results</a></li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
            <section class="contact-page inner-page">
                <div class="container">
                    <div class="row">
                        <!-- REGISTER -->
                        <div class="col-md-8">
                            <div class="widget">
                                <div class="widget-body">
                                    {% if messages %}
                                        {% include 'restaurant/messages.html' %}
                                    {% endif %}
                                    <form id="user_form" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                                        <div class="form-group{% if user_form.username.errors %} has-error{% endif %}">
                                            <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
                                            {% render_field user_form.username class="form-control" placeholder="Enter username" data-geo="formatted_username" %}
                                            {% for error in user_form.username.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                         <div class="form-group{% if user_form.email.errors %} has-error{% endif %}">
                                            <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
                                            {% render_field user_form.email class="form-control" placeholder="Enter email" data-geo="formatted_email" %}
                                            {% for error in user_form.email.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                         <div class="form-group{% if user_form.password.errors %} has-error{% endif %}">
                                            <label for="{{ user_form.password.id_for_label }}">{{ user_form.password.label }}</label>
                                            {% render_field user_form.password class="form-control" placeholder="Enter password" data-geo="formatted_password" %}
                                            {% for error in user_form.password.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <!-- <div class="form-group{% if profile_form.city.errors %} has-error{% endif %}">
                                            <label for="{{ profile_form.city.id_for_label }}">{{ profile_form.city.label }}</label>
                                            {% render_field profile_form.city class="form-control" placeholder="Enter city" data-geo="formatted_city" %}
                                            {% for error in profile_form.city.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div> -->
                                         <div class="form-group{% if profile_form.website.errors %} has-error{% endif %}">
                                            <label for="{{ profile_form.website.id_for_label }}">{{ profile_form.website.label }}</label>
                                            {% render_field profile_form.website class="form-control" placeholder="Enter website" data-geo="formatted_website" %}
                                            {% for error in profile_form.website.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group{% if profile_form.picture.errors %} has-error{% endif %}">
                                            <label for="{{ profile_form.picture.id_for_label }}">{{ profile_form.picture.label }}</label>
                                            {% render_field profile_form.picture class="form-control" placeholder="Enter picture" data-geo="formatted_picture" %}
                                            {% for error in profile_form.picture.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <p>
                                            <button type="submit" class="btn theme-btn">Submit</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <!-- end: Widget -->
                        </div>
                        <!-- /REGISTER -->
                        <!-- WHY? -->
                        <div class="col-md-4">
                            <h4>Registration is fast, easy, and free.</h4>
                            <hr>
                            <div style="width: 400px; height: 300px;" class="map_canvas img-fluid"></div>
                            <p></p>
                        </div>
                        <!-- /WHY? -->
                    </div>
                </div>
            </section>
        </div>
        <!-- end:page wrapper -->
{% endblock %}
{% block javascript %}
    <!-- Select2 plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>     
    <script>
      $(function(){
        // Select2 Initialization
        $('#id_city').select2({
            ajax: {
            url: 'http://localhost:8000/api/v1/city',
            dataType: 'json',
            processResults: function (data) {
                var data = $.map(data, function (obj) {
                obj.text = obj.text || obj.name; // replace name with the property used for the text
                return obj;
            });
            // Tranforms the top-level key of the response object from 'items' to 'results'
            return {
                results: data
            };
        }
    },
    placeholder: 'Select your city',
    minimumInputLength: 3,
});
      });
    </script>
{% endblock %}