{% extends 'restaurant/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block meta_tags %}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Luncheon - {{ restaurant.name }}</title>
{% endblock %}
{% block stylesheet %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-wrapper">
            <!-- start: Inner page hero -->
            <section class="inner-page-hero bg-image" data-image-src="{% static 'restaurant/images/profile_banner.jpg' %}">
                <div class="profile">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4 profile-img">
                                <div class="image-wrap">
                                    <figure>
                                    {% if restaurant.image %}
                                    	<img src="{{ MEDIA_URL }}{{ restaurant.image }}" alt="{{ restaurant.name }} image">
                                    {% else %}
                                    	<img src="http://placehold.it/240x140">
                                    {% endif %}
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 profile-desc">
                                <div class="pull-left right-text white-txt">
                                    <h6><a href="#">{{ restaurant.name }}</a></h6> <a class="btn btn-small btn-green"><strong>{{ restaurant_average_rating }}/5</span></strong></a>
                                    <p>{{ restaurant.available_food_categories }}</p>
                                    <a href="{% url 'restaurant:restaurant_detail' restaurant.id %}"><button style="margin-top:12px;" class="btn theme-btn">View Menu</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end:Inner page hero -->
            <div class="breadcrumb">
                <div class="container">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Search results</a></li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
            <div class="container m-t-30">
                <div class="row">
                    <div class="col-md-12">
                            <div class="widget">
                                <div class="widget-body">
                                {% if messages %}
                                    {% include 'restaurant/messages.html' %}
                                {% else %}
                                    <form method="post">{% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-12 form-group{% if review_form.rating.errors %} has-error{% endif %}">
                                                <label for="{{ review_form.rating.id_for_label }}">{{ review_form.rating.label }}</label>
                                                {% render_field review_form.rating class="form-control" %}
                                                {% for error in review_form.rating.errors %}
                                                  <p class="help-block">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                             <div class="col-sm-2 form-group{% if review_form.overall_rating.errors %} has-error{% endif %}">
                                                <label for="{{ review_form.overall_rating.id_for_label }}">Overall rating</label>
                                                {% render_field review_form.overall_rating class="form-control pull-left" %}
                                                {% for error in review_form.overall_rating.errors %}
                                                  <p class="help-block">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                             <div class="col-sm-12 form-group{% if review_form.review_text.errors %} has-error{% endif %}">
                                                <label for="{{ review_form.review_text.id_for_label }}">{{ review_form.review_text.label }}</label>
                                                {% render_field review_form.review_text class="form-control" %}
                                                {% for error in review_form.review_text.errors %}
                                                  <p class="help-block">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn theme-btn">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                                </div>
                            </div>
                            <!-- end: Widget -->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="menu-widget m-b-30">
                            <div class="widget-heading">
                                <h3 class="widget-title text-dark">
                              Read what other users have to say about this restaurant! <a class="btn btn-link pull-right" data-toggle="collapse" href="#popular" aria-expanded="true">
                              <i class="fa fa-angle-right pull-right"></i>
                              <i class="fa fa-angle-down pull-right"></i>
                              </a>
                              </h3>
                                <div class="clearfix"></div>
                            </div>
                            <div class="collapse in" id="1">
                            {% for review in restaurant_reviews %}
                                <div class="food-item white">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-lg-8">
                                            <div class="rest-logo pull-left">
                                                <a class="restaurant-logo pull-left" href="#"><img src="http://placehold.it/100x80" alt="Food logo"></a>
                                            </div>
                                            <!-- end:Logo -->
                                            <div class="rest-descr">
                                                <h6><a href="#">{{ review.user }}</a>
                                                 {% if request.user == review.user %}
                                                    <button class="btn btn-small theme-btn"><i class="fa fa-user"></i></button>
                                                {% endif %}
                                                </h6>
                                                <p> {{ review.review_text }}</p>
                                            </div>
                                            <!-- end:Description -->
                                        </div>
                                        <!-- end:col -->
                                        <!-- To turn number into star rating: https://css-tricks.com/star-ratings/ -->
                                        <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">Rating: {{ review.rating }}/5</span> </div>
                                    </div>
                                    <!-- end:row -->
                                </div>
                            {% empty %}
                            	   <div class="food-item white">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-lg-8">
                                                <p class="text-center"> There are no reviews for this restaurant. </p>
                                        </div>
                                        <!-- end:col -->
                                    </div>
                                    </div>
                            {% endfor %}
                                <!-- end:Food item -->
                            </div>
                            <!-- end:Collapse -->
                        </div>
                        <!-- end:Widget menu -->
                    </div>
                    <!-- end:Bar -->
                </div>
                <!-- end:row -->
            </div>
            <!-- end:Container -->
        </div>
        <!-- end:page wrapper -->
    </div>
{% endblock %}