{% extends 'restaurant/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block meta_tags %}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Luncheon - {{ restaurant.name }}</title>
{% endblock %}
{% block stylesheet %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-wrapper">
            <!-- start: Inner page hero -->
            <section class="inner-page-hero bg-image" data-image-src="{% static 'restaurant/images/profile_banner.jpg' %}">
                <div class="profile">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4 profile-img">
                                <div class="image-wrap">
                                    <figure>
                                    {% if restaurant.image %}
                                    	<img src="{{ MEDIA_URL }}{{ restaurant.image }}" alt="{{ restaurant.name }} image">
                                    {% else %}
                                    	<img src="http://placehold.it/240x140">
                                    {% endif %}
                                    </figure>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 profile-desc">
                                <div class="pull-left right-text white-txt">
                                    <h6><a href="#">{{ restaurant.name }}</a></h6> <a class="btn btn-small btn-green"><strong>{{ restaurant_average_rating }}/5</span></strong></a>
                                    <p>{{ restaurant.available_food_categories }}</p>
                                    <a href="{% url 'restaurant:restaurant_review' restaurant.id %}"><button style="margin-top:12px;" class="btn theme-btn">View Reviews</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end:Inner page hero -->
            <div class="breadcrumb">
                <div class="container">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Search results</a></li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
            <div class="container m-t-30">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="menu-widget m-b-30">
                            <div class="widget-heading">
                                <h3 class="widget-title text-dark">
                              The Delicious food offered by the restaurant! <a class="btn btn-link pull-right" data-toggle="collapse" href="#popular" aria-expanded="true">
                              <i class="fa fa-angle-right pull-right"></i>
                              <i class="fa fa-angle-down pull-right"></i>
                              </a>
                              </h3>
                                <div class="clearfix"></div>
                            </div>
                            <div class="collapse in" id="1">
                            {% for item in restaurant_menu %}
                                <div class="food-item white">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-lg-8">
                                            <div class="rest-logo pull-left">
                                                <a class="restaurant-logo pull-left" href="#"><img src="http://placehold.it/100x80" alt="Food logo"></a>
                                            </div>
                                            <!-- end:Logo -->
                                            <div class="rest-descr">
                                                <h6><a href="#">{{ item.name }}</a></h6>
                                                <p> {{ item.category }}</p>
                                            </div>
                                            <!-- end:Description -->
                                        </div>
                                        <!-- end:col -->
                                        <div class="col-xs-12 col-sm-12 col-lg-4 pull-right item-cart-info"> <span class="price pull-left">Rs. {{ item.price }}</span> </div>
                                    </div>
                                    <!-- end:row -->
                                </div>
                            {% empty %}
                            	   <div class="food-item white">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-lg-8">
                                                <p class="text-center"> The restaurant hasn't uploaded the menu. </p>
                                        </div>
                                        <!-- end:col -->
                                    </div>
                                    </div>
                            {% endfor %}
                                <!-- end:Food item -->
                            </div>
                            <!-- end:Collapse -->
                        </div>
                        <!-- end:Widget menu -->
                    </div>
                    <!-- end:Bar -->
                </div>
                <!-- end:row -->
            </div>
            <!-- end:Container -->
        </div>
        <!-- end:page wrapper -->
    </div>
{% endblock %}