{% extends 'restaurant/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block meta_tags %}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Luncheon - Add Restaurant</title>
{% endblock %}
{% block stylesheet %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="page-wrapper">
            <div class="breadcrumb">
                <div class="container">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Search results</a></li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
            <section class="contact-page inner-page">
                <div class="container">
                    <div class="row">
                        <!-- REGISTER -->
                        <div class="col-md-8">
                            <div class="widget">
                                <div class="widget-body">
                                    <form method="post">{% csrf_token %}
                                        <div class="input-group form-group{% if restaurant_add_form.name.errors %} has-error{% endif %}">
                                            <label for="{{ restaurant_add_form.name.id_for_label }}">{{ restaurant_add_form.name.label }}</label>
                                            {% render_field restaurant_add_form.name class="form-control geocomplete" placeholder="Search your restaurant" data-geo="name" %}
                                            <span class="input-group-btn">
                                                <button id="find" class="btn theme-btn" style="margin-bottom: -31px;" value="Go!">GO</button>
                                            </span>
                                            {% for error in restaurant_add_form.name.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group{% if restaurant_add_form.address.errors %} has-error{% endif %}">
                                            <label for="{{ restaurant_add_form.address.id_for_label }}">{{ restaurant_add_form.address.label }}</label>
                                            {% render_field restaurant_add_form.address class="form-control" placeholder="Enter address" data-geo="formatted_address" %}
                                            {% for error in restaurant_add_form.address.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group{% if restaurant_add_form.city.errors %} has-error{% endif %}">
                                            <label for="{{ restaurant_add_form.city.id_for_label }}">{{ restaurant_add_form.city.label }}</label>
                                            <select name="city" id="id_city" data-geo="locality" class="form-control"></select>
                                            {% for error in restaurant_add_form.city.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group{% if restaurant_add_form.phone.errors %} has-error{% endif %}">
                                            <label for="{{ restaurant_add_form.phone.id_for_label }}">{{ restaurant_add_form.phone.label }}</label>
                                            {% render_field restaurant_add_form.phone class="form-control" placeholder="Enter phone number" %}
                                            {% for error in restaurant_add_form.phone.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group{% if restaurant_add_form.email.errors %} has-error{% endif %}">
                                            <label for="{{ restaurant_add_form.email.id_for_label }}">{{ restaurant_add_form.email.label }}</label>
                                            {% render_field restaurant_add_form.email class="form-control" placeholder="Enter email address" %}
                                            {% for error in restaurant_add_form.email.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group{% if restaurant_add_form.website.errors %} has-error{% endif %}">
                                            <label for="{{ restaurant_add_form.website.id_for_label }}">{{ restaurant_add_form.website.label }}</label>
                                            {% render_field restaurant_add_form.website class="form-control" placeholder="Enter website" data-geo="website" %}
                                            {% for error in restaurant_add_form.website.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group{% if restaurant_add_form.open_time.errors %} has-error{% endif %}">
                                            <label for="{{ restaurant_add_form.open_time.id_for_label }}">{{ restaurant_add_form.open_time.label }}</label>
                                            {% render_field restaurant_add_form.open_time class="form-control" placeholder="Enter opening time (hh:mm:ss)" %}
                                            {% for error in restaurant_add_form.open_time.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group{% if restaurant_add_form.close_time.errors %} has-error{% endif %}">
                                            <label for="{{ restaurant_add_form.close_time.id_for_label }}">{{ restaurant_add_form.close_time.label }}</label>
                                            {% render_field restaurant_add_form.close_time class="form-control" placeholder="Enter closing time (hh:mm:ss)" %}
                                            {% for error in restaurant_add_form.close_time.errors %}
                                              <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <p>
                                            <button type="submit" class="btn theme-btn">Submit</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <!-- end: Widget -->
                        </div>
                        <!-- /REGISTER -->
                        <!-- WHY? -->
                        <div class="col-md-4">
                            <h4>Registration is fast, easy, and free.</h4>
                            <p>Once you"re registered, you can:</p>
                            <hr>
                            <div style="width: 400px; height: 300px;" class="map_canvas img-fluid"></div>
                            <p></p>
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed" href="#faq1" aria-expanded="false"><i class="ti-info-alt" aria-hidden="true"></i>Can I viverra sit amet quam eget lacinia?</a></h4> </div>
                                <div class="panel-collapse collapse" id="faq1" aria-expanded="false" role="article" style="height: 0px;">
                                    <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id. </div>
                                </div>
                            </div>
                            <!-- end:panel -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="panel-toggle" href="#faq2" aria-expanded="true"><i class="ti-info-alt" aria-hidden="true"></i>Can I viverra sit amet quam eget lacinia?</a></h4> </div>
                                <div class="panel-collapse collapse" id="faq2" aria-expanded="true" role="article">
                                    <div class="panel-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rutrum ut erat a ultricies. Phasellus non auctor nisi, id aliquet lectus. Vestibulum libero eros, aliquet at tempus ut, scelerisque sit amet nunc. Vivamus id porta neque, in pulvinar ipsum. Vestibulum sit amet quam sem. Pellentesque accumsan consequat venenatis. Pellentesque sit amet justo dictum, interdum odio non, dictum nisi. Fusce sit amet turpis eget nibh elementum sagittis. Nunc consequat lacinia purus, in consequat neque consequat id. </div>
                                </div>
                            </div>
                            <!-- end:Panel -->
                            <h4 class="m-t-20">Contact Customer Support</h4>
                            <p> If you"re looking for more help or have a question to ask, please </p>
                            <p> <a href="contact.html" class="btn theme-btn m-t-15">contact us</a> </p>
                        </div>
                        <!-- /WHY? -->
                    </div>
                </div>
            </section>
        </div>
        <!-- end:page wrapper -->
{% endblock %}
{% block javascript %}
    <!-- Select2 plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <!-- JQuery Geocomplete plugin -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAGGhEerhqnVAb8EvG6-ajR4QQzw_1OS4&libraries=places"></script>
    <script src="{% static 'restaurant/js/jquery.geocomplete.js' %}"></script>
     
    <script>
      $(function(){
        // Select2 Initialization
        $('#id_city').select2({
            ajax: {
            url: 'http://localhost:8000/api/v1/city',
            dataType: 'json',
            processResults: function (data) {
                var data = $.map(data, function (obj) {
                obj.text = obj.text || obj.name; // replace name with the property used for the text
                return obj;
            });
            // Tranforms the top-level key of the response object from 'items' to 'results'
            return {
                results: data
            };
        }
    },
    placeholder: 'Select your city',
    minimumInputLength: 3,
});
        // JQuery Geocomplete plugin Initialization and call
        $(".geocomplete").geocomplete({
          map: ".map_canvas",
          details: "form",
          detailsAttribute: "data-geo",
          types: ["geocode", "establishment"],
        });

        var myFunction = function(){
            $(".geocomplete").trigger("geocode");
        }

        $("#find").click(myFunction);
      });
    </script>
{% endblock %}