{% extends 'restaurant/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block meta_tags %}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Luncheon - Search for restaurant</title>
{% endblock %}
{% block stylesheet %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet" />
<style>
  .select2-container--bootstrap .select2-selection--single{
    height: 38px;
    font-size: 16px;
    padding: 8px 24px 6px 12px;
  }

</style>
{% endblock %}
{% block content %}
  <div class="page-wrapper">
           <!-- start: Inner page hero -->
            <div class="inner-page-hero bg-image" data-image-src="{% static 'restaurant/images/list_banner.jpg' %}">
                <div class="container" style="text-align: center;">
                    <form class="form-inline" method="GET" action="{% url 'restaurant:restaurant_list' %}">
                        <div class="form-group">
                            <label class="sr-only" for="city">I would like to eat....</label>
                            <div class="form-group">
                                <select name='city' id="id_city" class="form-control" style="width: 100%;"></select>
                            </div>
                            <label class="sr-only" for="query">I would like to eat....</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="id_query" name="query" placeholder="I would like to eat....">
                            </div>
                        </div>
                        <button type="submit" class="btn theme-btn">Search food</button>
                    </form>
                </div>
                <!-- end:Container -->
            </div>
            <div class="result-show">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Showing <span class="primary-color"><strong>{{ restaurant_list.count }}</strong></span> results 
                            {% if city %}
                            in {{ city }}
                            {% endif %}
                            {% if query %}
                            for <span class="primary-color"><strong>{{ query }}</strong></span>
                            {% endif %}
                            </p>
                        </div>
                        <div class="col-sm-9">
                            <select class="custom-select pull-right">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //results show -->
            <section class="restaurants-page">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
                            <div class="sidebar clearfix m-b-20">
                                <div class="main-block">
                                    <div class="sidebar-title white-txt">
                                        <h6>Choose Cusine</h6> <i class="fa fa-cutlery pull-right"></i> </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control search-field" placeholder="Search your favorite food"> <span class="input-group-btn"> 
                                 <button class="btn btn-secondary search-btn" type="button"><i class="fa fa-search"></i></button> 
                                 </span> </div>
                                    <form>
                                        <ul>
                                            <li>
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Barbecuing and Grilling</span> </label>
                                            </li>
                                            <li>
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Appetizers</span> </label>
                                            </li>
                                            <li>
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Soup and salads</span> </label>
                                            </li>
                                            <li>
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Seafood</span> </label>
                                            </li>
                                            <li>
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Beverages</span> </label>
                                            </li>
                                        </ul>
                                    </form>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- end:Sidebar nav -->
                                <div class="widget-delivery">
                                    <form>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
                                            <label class="custom-control custom-radio">
                                                <input id="radio1" name="radio" type="radio" class="custom-control-input" checked=""> <span class="custom-control-indicator"></span> <span class="custom-control-description">Delivery</span> </label>
                                        </div>
                                        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
                                            <label class="custom-control custom-radio">
                                                <input id="radio2" name="radio" type="radio" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Takeout</span> </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget clearfix">
                                <!-- /widget heading -->
                                <div class="widget-heading">
                                    <h3 class="widget-title text-dark">
                                 Price range
                              </h3>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget-body">
                                    <div class="range-slider m-b-10"> <span id="ex2CurrentSliderValLabel"> Filter by price:<span id="ex2SliderVal"><strong>35</strong></span>€</span>
                                        <br>
                                        <input id="ex2" type="text" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="35" /> </div>
                                </div>
                            </div>
                            <!-- end:Pricing widget -->
                            <div class="widget clearfix">
                                <!-- /widget heading -->
                                <div class="widget-heading">
                                    <h3 class="widget-title text-dark">
                                 Popular tags
                              </h3>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget-body">
                                    <ul class="tags">
                                        <li> <a href="#" class="tag">
                                    Pizza
                                    </a> </li>
                                        <li> <a href="#" class="tag">
                                    Sendwich
                                    </a> </li>
                                        <li> <a href="#" class="tag">
                                    Sendwich
                                    </a> </li>
                                        <li> <a href="#" class="tag">
                                    Fish 
                                    </a> </li>
                                        <li> <a href="#" class="tag">
                                    Desert
                                    </a> </li>
                                        <li> <a href="#" class="tag">
                                    Salad
                                    </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end:Widget -->
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
                        {% for restaurant in restaurant_list %}
                            <div class="bg-gray restaurant-entry">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left">
                                        <div class="entry-logo">
                                            <a class="img-fluid" href="#">
                                                {% if restaurant.image %}
                                                <img src="{{ MEDIA_URL }}{{ restaurant.image }}" alt="{{ MEDIA_URL }}{{ restaurant.image }} logo">
                                                {% else %}
                                                <img src="http://placehold.it/110x110" alt="Food logo">
                                                {% endif %}
                                                
                                            </a>
                                        </div>
                                        <!-- end:Logo -->
                                        <div class="entry-dscr">
                                            <h5><a href="#">{{ restaurant.name }}</a></h5> <span>{{ restaurant.available_food_categories }}<a href="#">...</a></span>
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-check"></i> Min $ 10,00</li>
                                                <li class="list-inline-item"><i class="fa fa-motorcycle"></i> 30 min</li>
                                            </ul>
                                        </div>
                                        <!-- end:Entry description -->
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center">
                                        <div class="right-content bg-white">
                                            <div class="right-review">
                                                <div class="rating-block"> <!-- <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>  -->
                                                Rating: {{ restaurant.average_rating }}/5
                                                </div>
                                                <p> {{ restaurant.review_set.count }} Reviews</p> <a href="{% url 'restaurant:restaurant_detail' restaurant.id %}" class="btn theme-btn-dash">View Menu</a> </div>
                                        </div>
                                        <!-- end:right info -->
                                    </div>
                                </div>
                                <!--end:row -->
                            </div>
                        {% endfor %}
                            <!-- end:Restaurant entry -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}
{% block javascript %}
 <!-- Select2 plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>

<script>
      $(function(){
        // Select2 Initialization
        $('#id_city').select2({
            theme: "bootstrap",
            ajax: {
            url: "{% url 'restaurant:city_api' %}",
            dataType: 'json',
            processResults: function (data) {
                var data = $.map(data, function (obj) {
                obj.text = obj.text || obj.name; // replace name with the property used for the text
                return obj;
            });
            // Tranforms the top-level key of the response object from 'items' to 'results'
            return {
                results: data
            };
        }
    },
    placeholder: 'Select your city',
    minimumInputLength: 3,
});
       
      });
    </script>
{% endblock %}